.container {
  display: inline-flex;
  min-width: fit-content;
  padding-left: 8px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}