.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: 16px;
}

.title {
  padding: 16px 0;
  font-family: 'Gilroy', sans-serif;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.fieldAmount {
  font-weight: 500;
}

.table {
  margin-top: 0;
}

.claim {
  padding: 0;
  margin-top: auto;
}

.claimBtn {
  justify-self: flex-end;
  align-self: flex-end;
  width: 100%;
  height: 56px;
  margin-top: auto;
  font-size: 17px;
}

.claimed {
  padding: 0;
  margin-top: auto;
}

.claimedContent {
  justify-content: center;
  width: 100%;
  height: 56px;
  padding: 0;
  font-size: 17px;
}
