.header {
  padding: 0;
  background-color: none;
}

.icon {
  display: none;
}

.optionRenderer {
  display: flex;
  align-items: center;
  padding-right: 16px;
  padding-left: 8px;
}

.optionBalance {
  width: 40px;
  height: 40px;
  background-color: #2A193D;

  svg {
    width: 20px;
    height: 20px;
  }
}

.optionValue {
  &:hover {
    background-color: #3D1F5D;
  }

  &:active {
    background-color: #5D2E8C;
  }
}

.optionLabel {
  margin-left: 17px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.optionCurrency {
  margin-left: 5px;
  color: #D4BDE9;
  font-size: 15px;
  font-weight: 400;
}

.body {
  width: calc(100% - 16px);
}
