.stakeBtn {
  position: fixed;
  right: 26px;
  bottom: 19px;
  width: auto;
  padding: 0 32px;
  background-color: #5D2E8C;
  font-weight: 600;
  font-size: 17px;
  height: 56px;
  border-radius: 100px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
  z-index: 86;
}

.modalBase {
  height: auto;
}