.container {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  height: 40px;
  overflow: hidden;
  padding: 8px 8px 8px 20px;
  border-radius: 100px;

  .label {
    font-size: 14px;
    font-weight: 400;
    color: #D2C1E5;
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
  }
}