.container {
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 16px;
}

.label {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 0.7;
  color: #D4BDE9;
}

div.spinner {
  width: 16px;
  height: 16px;
}