:root {
  // sizeing
  --header-height: 64px;
}

.light {

}

.dark {
  --website-bg: #1A1126;

  // global header colors
  --pm-gh-nickname-input-color: #FFFFFF;
  --pm-gh-nickname-input-placeholder-color: #A3AFF2;
  --pm-gh-nickname-input-placeholder-focus-color: #577CF9;
  --pm-gh-nickname-input-border-color: #283F78;
  --pm-gh-nickname-input-border-focus-color: #1F50F7;
  --pm-gh-nickname-editicon-bg: transparent;
  --pm-gh-nickname-editicon-bg-active: #3C538D;
  --pm-gh-nickname-editicon-fill: #6381E7;
  --pm-gh-nickname-editicon-fill-active: #92A7EC;
  --pm-gh-nickname-save-bg: #1F50F7;
  --pm-gh-nickname-save-bg-active: #305DF8;
  --pm-gh-nickname-hint-bg: #2051F7;
  --pm-gh-nickname-hint-close-bg: transparent;
  --pm-gh-nickname-hint-close-bg-active: rgba(255,255,255,0.25);
  --pm-gh-spinner-color: #D4BDE9;
  --pm-gh-copy-icon-color: #d4bde9;
  --pm-gh-copy-icon-color-hover: #8F56C7;
  --pm-gh-copy-icon-color-active: #8F56C7;
  --pm-gh-modal-overlay-bg: rgba(26, 17, 38, 0.9);
  --pm-gh-notification-item-shadow: 0px 0px 20px 0px rgba(0,0,0,.3);
  --pm-gh-notification-item-bg: linear-gradient(77.35deg, rgba(31, 68, 247, 1) 21%, rgba(87, 125, 255, 1) 97%);
  --pm-gh-notification-item-icon-bg: #3F6AFF;
  --pm-gh-notification-item-action-bg: #071226;
  --pm-gh-invitation-link-bg: #3D2756;
  --pm-gh-invitation-link-color: #D2C1E5;
  --pm-gh-invitation-link-icon-fill: #D2C1E5;
  --pm-gh-dropdown-header-bg: #2A193D;
  --pm-gh-dropdown-body-bg: #3D2756;
  --pm-gh-dropdown-option-bg: #3D2756;
  --pm-gh-dropdown-option-bg-active: #593E77;
  --pm-gh-feature-toggle-close-bg: transparent;
  --pm-gh-feature-toggle-close-bg-active: #283F78;
  --pm-gh-feature-toggle-close-border: #283F78;
  --pm-gh-feature-toggle-close-border-active: #2F4782;
  --pm-gh-network-modal-row-border-color: #283F78;
  --pm-gh-network-modal-row-name-color: #D0D7FF;
  --pm-gh-network-status-circle-bg: #1a1126;
  --header-bg: #1A1126;
  --navbar-icon-color: #D2C1E5;
  --connect-button-bg-color: #5D2E8C;
  --connect-bar-connector-background-color: #342149;
  --connect-bar-connector-background-color-hover: #432C5E;
  --connect-bar-connector-background-color-active: #563677;
  --profilebar-border-color: #3C2458;
  --profilebar-cash-bg-active: #452A5D;
  --profilebar-cash-bg-parent-active: #2A153F;
  --profilebar-cash-color: #FFFFFF;
  --profilebar-cash-dropdown-icon-color: #D4BDE9;
  --profilebar-cash-dropdown-currency-bg: #2A193D;
  --profilebar-cash-dropdown-option-currency-color: #D4BDE9;
  --profilebar-cash-diffrenece-bg: #2A193D;
  --profilebar-cash-increase-color: #00A573;
  --profilebar-cash-decrease-color: #F07750;
  --statistics-bar-background-color: #1A1126;
  --statistics-bar-close-icon-border-color: #3D1F5D;
  --statistics-bar-close-icon-border-color-active: #563677;
  --statistics-bar-close-icon-background-color: transparent;
  --statistics-bar-close-icon-background-color-active: #432C5E;
  --statistics-bar-stats-border-color: #3D2756;
  --statistics-bar-stats-title-bg: #493067;
  --statistics-bar-stats-table-bg: #3D2756;
  --statistics-bar-stats-table-secondary-color: #D2C1E5;
  --statistics-bar-stats-table-tr-border-color: #493067;
  --statistics-bar-tab-bg-color: #3D2756;
  --statistics-bar-tab-border-color: #283F78;
  --statistics-bar-tab-selected-bg-color: #1F50F7;
  --statistics-bar-disconect-bg-color: var(--statistics-bar-background-color);
  --statistics-bar-disconect-border-color: #3d1f5d;
  --statistics-bar-disconect-svg-fill: #ffffff;
  --statistics-bar-disconect-text-color: #ffffff;
}
