.status {
  display: inline-block;
  text-transform: capitalize;
  height: 40px;
  padding: 0 24px;
  border-radius: 77px;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  color: #F0EAF8;

  &.pending {
    background-color: #1C1028;
    border: 1px solid #3C2458;
  }

  &.staked {
    background-color: #452167;
  }

  &.pendingUnstaked {
    background-color: #1C1028;
    border: 1px solid #3C2458;
  }

  &.unstaked {
    background-color: #5D2E8C;
  }

  &.withdrawn {
    background-color: #1C1028;
    border: 1px solid #3C2458;
  }
}